h1, p {
    font: 15px italic , sans-serif;
    color: black;
}

.footertext {
    color:white;
    font-size: 16px;
}

.footertext2 {
    color: white;
    font-size: 10px;
}

a {
    text-decoration: none;
}

.modelname {
    font-size: 20px;
    font-weight: bold;
}

.linktext {
    font-size: 13px;
    font-weight: 600;
}

.linktextor {
    font-size: 13px;
    font-weight: 600;
    color: orangered;
}

.actions {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

.logotext {
    font-size: 26px;
    font-weight: 900;
}

.actionstext {
    font-size: 12px;
    font-weight: 700;
}

@media  screen and (max-width: 768px) {

    .actionstext {
        font-size: 10px;
    }

    .logotext {
        font-size: 20px;
        font-weight: 900;
    }

    .footertext {
        color:white;
        font-size: 12px;
    }
    
    .footertext2 {
        color: white;
        font-size: 6px;
    }
    
    .modelname {
        font-size: 16px;
        font-weight: bold;
    }
    
    .linktext {
        font-size: 9px;
        font-weight: 600;
    }
    
    .linktextor {
        font-size: 9px;
        font-weight: 600;
        color: orangered;
    }
    
    .actions {
        font-size: 20px;
        font-weight: 700;
        color: black;
    }
}